<file-drop *ngIf="dispODM.length == 1" headertext="Drop files here" (onFileDrop)="dropped($event)">
     <span>Drop ODM File here</span>
 </file-drop>
 <ng-container *ngFor="let form of dispODM | slice: pageStart: pageStart+1">
   <h3>{{form.FormName}}
     <ul>
       <ng-container *ngFor="let section of form.Sections">
         <li>
           {{section.SectionName}}
           <dl>
              <div appDroppable (dropped)="itemdrop($event)" *ngFor="let item of section.Items">
                <dt attr.odm-iri="{{item.IRI}}" attr.odm-cdashname="{{item.CDASHName}}">{{item.Name}}</dt>
                <dd>
                  <div >{{item.Value}}</div>
                </dd>
              </div>
            </dl>
          </li>
         </ng-container>
       </ul>
     </h3>
   </ng-container>
   <p>Go To...
     <ul>
     <ng-container *ngFor="let form of dispODM; index as pagenumber">
       <a href="#" (click)="pager(pagenumber)">{{form.FormName}} </a></ng-container>
     </ul>
  <p>
   <button (click)="update()">Update!</button>
