  <file-drop *ngIf="hl7header.length == 0" headertext="Drop files here" (onFileDrop)="dropped($event)">
       <span>Drop HL7 Message File here</span>
   </file-drop>

   <table>
    <tr >
<th cdkDropList [cdkDropListConnectedTo]="[(odmelements)]" *ngFor="let item of hl7header">
        <div cdkDrag>{{item}}</div>
      </th>
    </tr>

     <tr *ngFor="let item of hl7contents">
         <td *ngFor="let col of item">{{col}}
     </tr>
  </table>
   <p>
    <button (click)="update()">Update!</button>
