  <file-drop *ngIf="hl7header.length == 0" headertext="Drop files here" (onFileDrop)="dropped($event)">
       <span>Drop HL7 Message File here</span>
   </file-drop>

  <p>
    Segments: <a *ngFor="let segment of hl7segments" href="#" (click)="changeSegment(segment)">{{segment}} </a>
   <table>
    <tr >
      <th *ngFor="let item of hl7header">          
        <div appDraggable>{{item}}</div>
      </th>
    </tr>

     <tr *ngFor="let item of hl7contents">
         <td *ngFor="let col of item">{{col}}
     </tr>
  </table>
   <p>
    <button (click)="update()">Update!</button>
